* {
  margin: 0px;
  padding: 0px; }

body {
  font-size: 100%;
  background-image: url("../assets/imagenes/Background/texturaprueba.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Libre Baskerville, Georgia, sans-serif;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

li a {
  text-decoration: none;
  color: white; }

header {
  background-color: black; }

nav {
  background-color: black; }

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: black; }

.dropdown > ul {
  background-color: #181818; }

.colorFondo, footer {
  background-color: rgba(0, 0, 0, 0.822); }

h5 {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline; }

.header__logo {
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
