$fondo:black;
$fondotransparente: rgba(0, 0, 0, 0.822);
// HEADER AND NAVBAR


li a{
    text-decoration: none;
    color: rgb(255, 255, 255);  
    }


header{
    background-color: $fondo;
}

nav{
    background-color:$fondo;
}


.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: $fondo;
}

.dropdown > ul {
    background-color: rgb(24, 24, 24)
}

// FOOTER

footer{
    @extend .colorFondo
}


.colorFondo{
    background-color: $fondotransparente;
}

// HISTORIA - NOMBRE INTEGRANTES
h5{
    background-color:  rgba(0, 0, 0, 0.5);
    display: inline;
}